<p id="notice"><%= notice %></p>

<h1>Seniors</h1>
<div class="wrap">
<div class="search">
  <%= render 'search', seniors: @seniors %>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seniors.each do |senior| %>
      <tr>
        <td><%= senior.name %></td>
        <td><%= link_to 'Book Meet', "/seniors/#{senior.id}/book_meet", method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Senior', new_senior_path %>
